* {
    box-sizing: border-box;
}

.container_contactMe {
    max-width: 30vw;
    margin: 3em auto;
    background-color: black;
    padding: 3em;
}

p {
    text-align: center;
    font-weight: 500;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 1.25em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-sizing: border-box;
    margin-top: 1em;
    margin-bottom: 2em;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 0.5em;
    background-color: #f2f2f2;
    padding: 2em;
}