.contact_flex {
    display: flex;
    justify-content: center;

}

.contact_flex > div {
    padding: 1.5em;
    margin: 1em;
}

/* test area ======================= */


/* HTML Set up */
footer {
    color: #fff;
    height: 100vh;
    overflow: hidden;
}

footer .centered {
    max-width: 100vw;
    margin: 0 0 0 auto;
    display: flex;
    justify-content: center;
}

footer .centered .footer-logo {
    width: 20%;
}

footer .centered .footer-logo img.logo {
    padding: 2em 1.5em 1em 1.5em;
    max-width: 100%;
}

footer .centered .footer-contact {
    width: 10%;
}

footer .centered .footer-navigation {
    width: 40%;
}

footer .centered .footer-navigation .footer-links-holder {
    width: 33vw;
    position: relative;
    float: left;
    margin: 0;
}

footer .centered .footer-navigation .footer-links-holder .footer-links {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-transition: max-height .5s;
    transition: max-height .5s;
}

footer .bottom-bar {
    position: relative;
    text-align: center;
    font-size: .8em;
    text-transform: uppercase;
    background: #000;
    padding: 1em 0;
}

/* Responsive Tablet Sizes */
@media only screen and (max-width: 749px) {
    footer .centered {
        flex-wrap: wrap;
    }

    footer .centered .footer-logo {
        max-width: 250px;
        width: 50%;
    }

    footer .centered .footer-contact {
        width: 50%;
        padding: 0 20px;
    }

    footer .centered .footer-navigation {
        width: 100%;
    }

    footer .centered .footer-navigation .footer-links-holder {
        padding: 0 20px;
    }
}

/* Responsive Mobile Sizes */
@media only screen and (max-width: 500px) {
    footer .centered .footer-logo {
        width: 100%;
        margin: 0 auto;
    }

    footer .centered .footer-contact {
        width: 100%;
    }

    footer .centered .footer-navigation .footer-links-holder {
        width: 100%;
        padding: 0;
    }

    footer .centered .footer-navigation .footer-links-holder h3 {
        margin: 0;
        padding: 10px 20px;
        border-top: #000 1px solid;
        cursor: pointer;
    }

    footer .centered .footer-navigation .footer-links-holder h3::after {
        float: right;
        margin-right: 10px;
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-top: 7px;
        width: 7px;
        height: 7px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        -webkit-transition: transform .5s;
        transition: transform .5s;
    }

    footer .centered .footer-navigation .footer-links-holder .footer-links {
        max-height: 0;
        overflow: hidden;
        padding: 0 20px;
    }

    footer .centered .footer-navigation .footer-links-holder.active h3::after {
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

}

/* Typography */
footer ol {
    font-weight: 400;
    text-transform: uppercase;
    margin: 0.5em 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: color .5s, background .5s;
    transition: color .5s, background .5s;
}

footer a:hover {
    color: #32b4f0;
    cursor: pointer;
}

