.arrow{
  animation: arr 2s infinite;
  position:relative;
}


.arrow:before {
    content:"";
    position: absolute;
    margin-left: 50vw;
    margin-top: 92vh; 
    width:2em;
    height:2em;
    border-top:10px solid rgb(255, 255, 255);
    border-right:10px solid rgb(255, 255, 255);
    transform:rotate(135deg);
}
  
  @keyframes arr{
    0%,100%{
      transform:translateY(0px);
    }
    50%{
      transform:translateY(50px);
    }
  }
