.container_contactMe {
    bottom: 2em;
    width: 30vw;
    background-color: rgb(90, 90, 90);
    padding: 2em;
    color: white;
    border-radius: 1.5em;
    box-shadow: 5px 5px 5px 3px black;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
}

.contact_title {
    top: 451vh;
    color: #ecf0f1;
    font-family: 'Montserrat',
        sans-serif;
    font-weight: 800;
    position: absolute;
    text-transform: uppercase;
    width: 30vw;
    font-size: calc(2.25vw + 0.25em);
    height: 8vh;
    line-height: 8vh;
    text-align: center;
    text-shadow: 2px -1px 0 #f8f8f8,
        2px -2px 0 #b3b3b3,
        3px -3px 0 #686868,
        4px -4px 0 #555555,
        5px -5px 0 #505050,
        6px -6px 0 #3b3b3b,
        7px -7px 0 #2b2b2b,
        8px -8px 0 #242424,
        9px -9px 0 #131313;
    -moz-transform-origin: bottom left;
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    -moz-transform: skewY(1deg);
    -webkit-transform: skewY(1deg);
    -ms-transform: skewY(1deg);
    -o-transform: skewY(1deg);
    transform: skewY(1deg);
    background: transparent;
}

    .contact_title:first-child {
        top: 451.5vh;
        position: absolute;
        color: rgba(0, 0, 0, 0);
        transform: rotateX(70deg);
        text-shadow: #000000 0 0 5px;
        transform-origin: bottom right;
        -moz-transform-origin: bottom right;
        -webkit-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
        transform: skewX(-18deg);
        -moz-transform: skewX(-18deg);
        -webkit-transform: skewX(-18deg);
        -ms-transform: skewX(-18deg);
        -o-transform: skewX(-18deg);
        background: transparent;
    }

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 1.25em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-sizing: border-box;
    margin-top: 1em;
    margin-bottom: 2em;
    resize: vertical;
}

button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    margin: 1em 0;
    font-weight: 800;
    font-size: 1em;
}

button[type=submit]:hover {
    background-color: #38813c;
    color: rgb(207, 207, 207);
}

button:disabled,
button[disabled] {
    background-color: #585858;
    color: rgb(207, 207, 207);
}

button:disabled:hover,
button[disabled=hover] {
    background-color: #8d8d8d;
    color: rgb(207, 207, 207);
}

button[type=reset] {
    background-color: rgb(175, 76, 76);
    color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    margin: 1em;
    font-weight: 800;
    font-size: 1em;
}

button[type=reset]:hover {
    background-color: #813838;
    color: rgb(207, 207, 207);
}

.success {
    margin: 2em 0;
    border: 1px solid green;
    padding: 0.5em;
    font-weight: 400;
}