.firstline {
    top: 43.1vh;
    border: 0;
    background-image: linear-gradient(120deg, rgb(78, 9, 9), rgb(151, 10, 10), rgb(212, 20, 20), rgb(160, 18, 18));
    background-size: 500% 500%;
    animation: lineAnimation 5s infinite;
    position: absolute;
    width: 85vw;
    left: 9%;
    height: 1em;
    line-height: 1em;
    text-align: center;
    -moz-transform-origin: bottom left;
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    -moz-transform: skewY(1deg);
    -webkit-transform: skewY(1deg);
    -ms-transform: skewY(1deg);
    -o-transform: skewY(1deg);
    transform: skewY(1deg);
}

.firstline:first-child {
    top: 41.5vh;
    position: absolute;
    color: rgba(0, 0, 0, 0);
    transform: rotateX(70deg);
    text-shadow: #000000 0 0 5px;
    transform-origin: bottom right;
    -moz-transform-origin: bottom right;
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform: skewX(-18deg);
    -moz-transform: skewX(-18deg);
    -webkit-transform: skewX(-18deg);
    -ms-transform: skewX(-18deg);
    -o-transform: skewX(-18deg);
}

@keyframes lineAnimation{
    0%{
      background-position: 0% 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0% 50%;
    }
}

/* .parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.parallax_container {
    position: fixed;
    height: 100vh;
    transform-style: preserve-3d;
}

.parallax_layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.p1 {
    transform: translateZ(-5px) scale(6);
    width: 100vw;
    height: 30em;
    top: -100em;
    background: linear-gradient(#0e0b35, #1a1355);
}
.p2{
    transform: translateZ(-4px) scale(5);
    width: 100vw;
    height: 20em;
    top: -40em;
    background: linear-gradient(#140f43, #2a1e91);
}
.p3{
    transform: translateZ(-3px) scale(5);
    width: 100vw;
    height: 40em;
    top: 60em;
    background-image: linear-gradient(#2a1e91, transparent);
}
.p4{
    transform: translateZ(-2px) scale(3);
    width: 100vw;
    top: 37em;
}
.p5{
    transform: translateZ(-1px) scale(5);
    width: 100vw;
    height: 51em;
    top: 126em;
    background-image: linear-gradient(#4a39e4, #3629aa, transparent);
} */
