.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.parallax_container {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}

.parallax_layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.p1 {
    transform: translateZ(-5px) scale(4);
    width: 1000vw;
    height: 30em;
    top: -100em;
    background: linear-gradient(#0e0b35, #1a1355);
}
.p2{
    transform: translateZ(-4px) scale(5);
    width: 100vw;
    height: 20em;
    top: -40em;
    background: linear-gradient(#140f43, #2a1e91);
}
.p3{
    transform: translateZ(-3px) scale(5);
    width: 100vw;
    height: 12em;
    top: 22em;
    background-image: linear-gradient(#2a1e91, #4a39e4);
}
.p4{
    transform: translateZ(-2px) scale(2);
    width: 100vw;
    top: 35em;
}
.p5{
    transform: translateZ(-1px) scale(5);
    width: 100vw;
    height: 30em;
    top: 88em;
    background-image: linear-gradient(#4a39e4, #251d70);
}
