.parallax {
    z-index: -10;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
    width: 200vw;
    overflow: hidden;
    height: 100vh;
}

.parallaxLayer {
    width: 200vw;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax__cover {
    background: linear-gradient(to bottom, rgb(8,8,8), #000000);
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 1vh;
    z-index: 200;
}


.parallaxLayer#p1 {
    top: -10vh !important;
    position: absolute !important;
    background-image:url("https://github.com/DanBurbach/PersonalPortfolio_2.0/blob/master/src/assets/parallax_images/layer_1.png?raw=true");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.60;
    margin-left: -42vw;
    margin-right: -40vw;
}


.parallaxLayer#p2 {
    width: 140vw;
    object-fit: cover;
    top: 46vh !important;
    position: center !important;
    object-position: 50% 50% !important;
}

.parallaxLayer#p3 {
    width: 140vw;
    object-fit: cover;
    top: 13vh !important;
    position: relative !important;
    object-position: 50% 50% !important;
}

.parallaxLayer#p4 {
    width: 140vw;
    object-fit: cover;
    top: 34vh !important;
    position: absolute !important;
    object-position: 50% 50% !important;
}

.parallaxLayer#p5 {
    width: 140vw;
    object-fit: cover;
    top: 34vh !important;
    position: absolute !important;
    object-position: 50% 50% !important;
    margin-left: -10vw;
}

.parallaxLayer#p6 {
    object-fit: cover;
    top: 40vh !important;
    position: absolute !important;
    object-position: 50% 50% !important;
}