.skillsMain {
    padding: 2em;
    width: calc(100% - 40px);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.graph {
    height: 30px;
    max-width: 800px;
    margin: 0 auto 10px auto;
    line-height: 30px;
    font-size: 16px;
    color: white;
    padding: 0 0 0 10px;
    position: relative;
}

.graph::before {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    height: 30px;
    top: 0;
    z-index: -2;
    background: transparent;
}

.graph::after {
    content: '';
    background: #2ecc71;
    height: 30px;
    transition: 0.7s;
    display: block;
    width: 100%;
    -webkit-animation: bar-before 1 1.8s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.bar1::after{
    max-width: 60%;
}

.bar2::after {
    max-width: 65%;
}

.bar3::after {
    max-width: 70%;
}

.bar4::after {
    max-width: 75%;
}

.bar5::after {
    max-width: 40%;
}

.bar5::after {
    max-width: 45%;
}

.bar6::after {
    max-width: 40%;
}

@-webkit-keyframes bar-before {
  0%{
    width: 0px;
  }
  100%{
    width: 100%;
  }
}