/* timeline box */
.timeline_container {
    top: 20vh;
    width: auto;
    height: 50vh;
    padding: 3em 0;
    margin: -1em;
    position: relative;
    overflow: auto;
}

.timeline_container:before {
    content: '';
    position: absolute;
    top: 4em;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 225vh;
    background: #CCD1D9;
    z-index: 5;
}
.timeline_dotted:before {
    content:"";
    position: absolute;
    z-index: -1;
    top: 102em;
    bottom: -89em;
    left: 50%;
    border-left: 2px dotted
}

.timeline-block {
    width: -webkit-calc(50% + calc(0.9vw + 0.25em));
    width: -moz-calc(50% + calc(0.9vw + 0.25em));
    width: calc(50% + calc(0.9vw + 0.25em));
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
}

.timeline-block-right {
    float: right;
}

.timeline-block-left {
    float: left;
    direction: rtl
}

.marker {
    width: calc(2vw + 0.25em);
    height: calc(1.7vw + 0.25em);
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: #4FC1E9;
    margin-top: 10px;
    z-index: 9999
}


.timeline-content {
    width: 95%;
    padding: 0.6em 0.75em 1em;
    color: rgb(177, 177, 177)
}

.timeline-content h3 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-size: 1.25em;
    font-weight: 500
}

.timeline-content span {
    font-size: 1em;
    color: #a4a4a4;
}

.timeline-content p {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #888;
}


@media screen and (max-width: 768px) {
    .container:before {
        left: 4px;
        width: 2px;
    }

    .timeline-block {
        width: 100%;
        margin-bottom: 10px;
    }

    .timeline-block-right {
        float: none;
    }

    .timeline-block-left {
        float: none;
        direction: ltr;
    }
}
